/* {
    margin: 0;
    padding: 0;
}*/

html {font-family: 'Kanit', sans-serif}

#minhaFoto {
    width: 100px;
    padding-top: 5px;
}

header {
    width: center;
    height:200px;
    text-align: center;
    background-color: rgb(63, 121, 229); 
}

#navTopo {width: center; background-color: rgb(71, 185, 242)}
#navTopo ul {list-style:none; margin:0; padding:4px}
#navTopo ul li { display:inline-block }
#navTopo ul li a { font-size: 0.85em; color: rgb(0, 0, 0); padding: 4px 20px }
#navTopo ul li a:hover {background-color: rgb(63, 121, 229);}

#navBase {width: center; text-align: center; background-color: rgb(71, 185, 242);}
#navBase ul {list-style:none; margin:0; padding:4px}
#navBase ul li { display:inline-block }
#navBase ul li a { font-size: 0.85em; color: rgb(0, 0, 0); padding: 30px;}
#navBase ul li img {width: 50px;}

#introducao, #educacao, #objetivos, #contato {text-align: center; width: center; padding-bottom: 50px;}
#introducao h2, #educacao h2, #contato h2, #objetivos h2 {padding-top: 30px;}
#introducao p, #educacao p, #contato p, #objetivos p {font-size: 13px; padding: 10px;}